@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Custom scrollbar if needed, but we are hiding overflow for the POC hero */

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px #ccff00;
}

@keyframes scanline {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(100%);
  }
}

.animate-scanline {
  height: 5px;
  background: rgba(51, 255, 0, 0.05);
  animation: scanline 4s linear infinite;
  box-shadow: 0 0 10px rgba(51, 255, 0, 0.1);
}